@font-face {
  font-family: Adelle-Light;
  src: url(../fonts/Adelle-Light/Adelle-Light.ttf);
}
.about-us{
  height: 550px;
}
.about-us h3{
  font-family: GothamBoldRegular;
  font-size: 24.5px;
  color: #313131;
  text-transform: uppercase;
  display: block;
  margin-top: 60px;
}
.img-about-holder{
  width: 25%;
  float: left;
  margin-right: 40px;
  margin-top: 50px;
}
.img-about-holder img{
  width: 100%;
  height: auto;
}
.about-us h4{
  font-family: GothamBoldRegular;
  color: #313131;
  margin-top: 50px;
  display: block;
  font-size: 20px;
}
.about-holder{
  width: 71%;
  float: left;
  height: 100%;
}
.about-holder p{
  display: block;
  margin-top: 40px;
  font-family: Adelle-Light;
  color: #313131;
  font-size: 16px;
  font-weight: 600;
}
.about-holder img{
  display: block;
  margin-top: 50px;
}