.blog-single{
  width: 980px;
  height: auto;
  overflow: hidden;
  margin: 63px auto 0;
}
.blog-single h3{
  font-family: GothamBoldRegular;
  font-size: 42px;
  color: #313131;
  display: block;
  float: left;
}
.header-slog{
  width: 100%;
  height: 45px;
}
.blog-single h4{
  font-family: GothamBoldRegular;
  font-size: 25px;
  color: #313131;
  display: block;
  margin-top: 15px;
  margin-left: 15px;
  color: #7d7d7d;
  float: left;;
  ;
}
.main-info{
  width: 100%;
  height: 100%;
  margin-top: 60px;
  border-top: 8px solid #313131 !important;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}
.top{
  margin: 25px auto 0;
  width: 885px;
  height: 100%;
}
.top-inner{
  width: 100%;
  height: auto;
}
.img-holder{
  width: 357px;
  height: auto;
  float: left;
  margin-right: 40px;
}
.img-holder img{
  display: block;
  width: 100%;
  height: auto;
}
.blog-words h2{
  font-family: GothamBoldRegular;
  color: #313131;
  font-size: 34px;
  display: block;
  float: left;
}

.blog-words{
  width: 36%;
  height: 183px;
  margin-top: 175px;
  float: left;
}
.blog-words span{
  display: block;
  font-size: 19px;
  font-family: AdelleRegular;
  color: #707070;
  margin-top: 13px;
  float: left;
  width: 100%;
}
.a-links{
  width: auto;
  height: 30px;
  margin-top: 30px;
  float: left;
}
.blog-words p{
  display: block;
  float: left;
  color: #a9a9a9;
  font-family: AdelleRegular;
  font-size: 15px;
  margin-right: 5px;
}
.blog-words a{
  display: block;
  float: left;

  color: #71c5c6;
  font-family: AdelleRegular;
  font-size: 15px;
  text-decoration: none;
}
.blog-text{
  float: left;
  width: 880px;
  margin: 40px auto 0;
}
.blog-text p{
  font-family: AdelleRegular;
  color: #707070;
  font-size: 16px;
  display: block;
  width: 43%;
  margin-right: 40px;
  float: left;
}
.blog-text p:last-child{
  margin-right: 0px;
}