.footer-container{
  width: 100%;
  height: 115px;
}
.footer{
  border-top: 5px solid #313131;
  height: 113px;
  height: 245px;
}
.footer-inner{
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
.footer-ul{
  float: left;
}
.footer-ul a{
  font-size: 11px !important;
  font-weight: lighter !important;
  color: #c7c7c7;
  border-right: 1px solid #c7c7c7 !important;
  font-family: Adelle-Light !important;
  text-transform: capitalize !important;
}
.follow-us{
  float: right;
  width: auto;
  height: auto;
  margin-top: 19px;
}
.follow-us a{
  width: 100%;
  height: 100%;
}
.pre-footer{
  width: 975px;
  height: 130px;
  margin: 70px auto;
}
.tweeter-img{
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 30px;
}
.pre-footer h3{
  font-size: 17px;
  font-family: GothamBoldRegular;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}
.pre-footer p{
  display: block;
  font-family: Adelle-Light;
  font-size: 21px;
  color: #7d7d7d;
  width: auto;
  float: right;
  margin-right: -26px;
}
.pre-footer span{
  display: block;
  font-family: GothamProRegular;
  font-size: 12px;
  color: #b2b2b2;
  margin-top: 20px;
  margin-left: 80px;
  float: left;
}
.latest-tweet {
  width: 54%;
  height: 100%;
  float: left;
}
.social-like{
  float: right;
  width: auto;
  margin-top: 38px;
  height: 20px;
  overflow: hidden;
}
.social-like div{
  width: 45px;
  height: 17px;
  margin-right: 40px;
  display: block;
  float: left;
  position: relative;
}
.social-like a{
  display: block;
  width: auto;
  float: left;
}
.cloud {
  background: url("../images/media/cloud.jpg") no-repeat;
  display: none !important;
  width: 25px !important;
  height: 20px !important;
  position: absolute;
  top: 4%;
  left: 102%;
  color: #323232;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 2;
}