@font-face {
	font-family: GothamProRegular;
	src: url(../fonts/GothamProRegular/GothamProRegular.ttf);
};
@font-face {
	font-family: GothamBoldRegular;
	src: url(../fonts/GothamBoldRegular/GothamBoldRegular.ttf);
};
.header-container{
	width: 980px;
	height: 215px;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 100%;
}
.form-search{
	display: none;
}
.form-language{
	display: none;
}
.main-header{
	width: 100%;
	height: 240px ;
}
.welcome-msg{
	font-family: GothamProRegular;
	font-size: 19px;
	color: #313131;
	text-transform: uppercase;
	width: auto;
	margin-top: 69px;
	font-weight: bold;
	margin-left: 206px;
	letter-spacing: 2px;
	float: left;
	display: block;
}
.welcome-msg span{
	font-family: GothamProRegular;
	font-size: 11px;
	color: #a0a0a0;
	text-transform: uppercase;
	text-align: center;
}
.logo{
	height: 49px;
	width: 175px;
	float: left;
	display: block;
	margin-top: 100px;
}
.logo a{
	display: block;
	margin-top: 0px !important;
}
.quick-access{
	float: right;
}
.links{
	width: auto;
	height: 18px;
	display: block;
	margin-top: 21px;
	margin-right: -12px;
}
.links li{
	float: right;
	margin-right: 10px;
	list-style: none;
}
.links li a{
	font-family: GothamBoldRegular;
	font-size: 11.5px;
	border-right: 2px solid #808080;
	color: #808080;
	padding-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.nav-container{
	float: left;
}
.header-menu{
	float: left;
	margin-top: 31px;
}
.header-menu li{
	width: auto;
	margin-right: 20px;
	float: left;
	list-style: none;
	letter-spacing: 2px;
}
.header-menu li a{
	display: block;
	text-decoration: none;
	font-family: GothamBoldRegular;
	font-size: 14px;
	text-transform: uppercase;
	color: #313131;
}

//header start