.main-container{
  border-top: 5px solid #313131;

  margin: 0 auto;
}
.top-container{
  width: 100%;
  height: 515px;
  overflow: hidden;
}
.main-img2{
  width: 100%;
  height: auto;
}
.main-img{
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}
.main-img-holder{
  width: 49%;
  height: 100%;
  float: left;
}
.shop-now{
  float: left;
  width: 51%;
  background: url(image/media/main-img2.jpg) no-repeat;
  position: relative;
}
.title-box{
  position: absolute;
  top: 25%;
  left: 45%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.title-box p{
  display: block;
  font-family: GothamBoldRegular;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2.3px;
}
.title-box span{
  display: block;
  font-family: GothamBoldRegular;
  color: #fff;
  font-size: 54px;
  margin-top: 11px;
  letter-spacing: 6.99px;
}
.title-box a{
  display: block;
  font-family: GothamBoldRegular;
  font-size: 12px;
  color: #5cbbdb;
  width: 205px;
  height: 40px;
  background: #fff;
  text-decoration: none;
  line-height: 3;
  text-align: center;
  margin: 25px auto;
}
.bottom-container{
  width: 1415px;
  height: 210px;
  margin: 10px auto;
}
.box{
  width: 24.68%;
  height: 100%;
  margin-right: 6px;
  float: left;
  overflow: hidden;
}
.box a{
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.box h2{
  font-family: GothamBoldRegular;
  display: block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px;
}
.box p{
  font-family: Adelle-Light;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  color: #FFF;
  display: block;
}
.jewellery{
  background: url(../images/media/box-1.jpg) no-repeat;
  background-size: 100%;
}
.news{
  background: url(../images/media/box-2.jpg) no-repeat;
}
.leatest{
  background: url(../images/media/box-3.jpg) no-repeat;
}
.newsletter-box{
  background: url(../images/media/newsletter.jpg) no-repeat;
}
.newsletter-box span{
  font-family: GothamBoldRegular;
  display: block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px;
}
.box:last-child{
  margin-right: 0px;
}
.form-subscribe-header{
  font-family: Adelle-Light;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  color: #FFF;
}
.actions span{
  display: block;
  width: auto;
  height: 100%;
  background: #333333;
  font-family: GothamBoldRegular;
  font-size: 9px;
  color: #f6f6f6;
  border: medium none;
  margin-top: 0px;
  line-height: 2;
  padding-top: 2px;
  cursor: pointer;
}
.input-box{
  width: 135px;
  float: left;
  height: 25px;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 10px;
}
.actions{
  width: 70px;
  height: 25px;
  float: left;
  margin-top: 22px;
}
.actions .button{
  width: 100%;
  height: 100%;
}
.input-box input[type="text"]{
  border: medium none;
  outline: medium none;
  float: left;
  margin-right: 8px;
  height: 25px;
  width: 135px;
  margin-top: 5px;
}
