
@font-face {
  font-family: AdelleRegular;
  src: url(../fonts/AdelleRegular/AdelleRegular.ttf);
}
@font-face {
  font-family: Gotham-Medium-Regular;
  src: url(../fonts/Gotham-Medium-Regular/Gotham-Medium-Regular.ttf);
}
.in-news{
  width: 990px;
  max-width: 990px;
  margin: 0 auto;
  height: auto;
  border: 1px solid #dfdfdf;
  margin-top: 60px;
  overflow: hidden;
}
.in-news h3{
  font-family: Gotham-Medium-Regular;
  font-size: 25px;
  color: #313131;
  text-transform: uppercase;
  display: block;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.left-news-imgs{
  width: 65%;
  float: left;
  height: 100%;
  margin-left: 2.5%;
}
.left-news-imgs img{
  display: block;
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
}
.right-news-imgs{
  float: left;
  width: 24%;
  height: 100%;
}
.right-news-imgs h4:first-child{
  margin-bottom: 30px;
}
.margin-top{
  margin-top: 30px;
}
.right-news-imgs h4{
  font-family: Gotham-Medium-Regular;
  font-size: 16px;
  color: #313131;
  font-weight: 100;
}

.right-news-imgs p{
  font-family: AdelleRegular;
  font-size: 14px;
  color: #313131;
  display: block;
  margin-top: 30px;
  font-weight: 100;
}
