.nav-container{
  display: none;
}
.page-title{
  display: none;
}

.category-description{
  color: #313131;
  font-family: GothamBoldRegular;
  font-size: 42px;
  margin-top: 125px;
}
.category-description span{
  font-family: GothamBoldRegular;
  color: #7d7d7d;
  font-size: 25px;
}
.products-grid li{
  display: block;
  float: left;
  width: auto;
  height: 350px;
}