@font-face {
  font-family: GothamProRegular;
  src: url(../fonts/GothamProRegular/GothamProRegular.ttf); }
@font-face {
  font-family: GothamBoldRegular;
  src: url(../fonts/GothamBoldRegular/GothamBoldRegular.ttf); }
.header-container {
  width: 980px;
  height: 215px;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 100%; }

.form-search {
  display: none; }

.form-language {
  display: none; }

.main-header {
  width: 100%;
  height: 240px; }

.welcome-msg {
  font-family: GothamProRegular;
  font-size: 19px;
  color: #313131;
  text-transform: uppercase;
  width: auto;
  margin-top: 69px;
  font-weight: bold;
  margin-left: 206px;
  letter-spacing: 2px;
  float: left;
  display: block; }

.welcome-msg span {
  font-family: GothamProRegular;
  font-size: 11px;
  color: #a0a0a0;
  text-transform: uppercase;
  text-align: center; }

.logo {
  height: 49px;
  width: 175px;
  float: left;
  display: block;
  margin-top: 100px; }

.logo a {
  display: block;
  margin-top: 0px !important; }

.quick-access {
  float: right; }

.links {
  width: auto;
  height: 18px;
  display: block;
  margin-top: 21px;
  margin-right: -12px; }

.links li {
  float: right;
  margin-right: 10px;
  list-style: none; }

.links li a {
  font-family: GothamBoldRegular;
  font-size: 11.5px;
  border-right: 2px solid #808080;
  color: #808080;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px; }

.nav-container {
  float: left; }

.header-menu {
  float: left;
  margin-top: 31px; }

.header-menu li {
  width: auto;
  margin-right: 20px;
  float: left;
  list-style: none;
  letter-spacing: 2px; }

.header-menu li a {
  display: block;
  text-decoration: none;
  font-family: GothamBoldRegular;
  font-size: 14px;
  text-transform: uppercase;
  color: #313131; }

.footer-container {
  width: 100%;
  height: 115px; }

.footer {
  border-top: 5px solid #313131;
  height: 113px;
  height: 245px; }

.footer-inner {
  width: 980px;
  height: 100%;
  margin: 0 auto; }

.footer-ul {
  float: left; }

.footer-ul a {
  font-size: 11px !important;
  font-weight: lighter !important;
  color: #c7c7c7;
  border-right: 1px solid #c7c7c7 !important;
  font-family: Adelle-Light !important;
  text-transform: capitalize !important; }

.follow-us {
  float: right;
  width: auto;
  height: auto;
  margin-top: 19px; }

.follow-us a {
  width: 100%;
  height: 100%; }

.pre-footer {
  width: 975px;
  height: 130px;
  margin: 70px auto; }

.tweeter-img {
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 30px; }

.pre-footer h3 {
  font-size: 17px;
  font-family: GothamBoldRegular;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block; }

.pre-footer p {
  display: block;
  font-family: Adelle-Light;
  font-size: 21px;
  color: #7d7d7d;
  width: auto;
  float: right;
  margin-right: -26px; }

.pre-footer span {
  display: block;
  font-family: GothamProRegular;
  font-size: 12px;
  color: #b2b2b2;
  margin-top: 20px;
  margin-left: 80px;
  float: left; }

.latest-tweet {
  width: 54%;
  height: 100%;
  float: left; }

.social-like {
  float: right;
  width: auto;
  margin-top: 38px;
  height: 20px;
  overflow: hidden; }

.social-like div {
  width: 45px;
  height: 17px;
  margin-right: 40px;
  display: block;
  float: left;
  position: relative; }

.social-like a {
  display: block;
  width: auto;
  float: left; }

.cloud {
  background: url("../images/media/cloud.jpg") no-repeat;
  display: none !important;
  width: 25px !important;
  height: 20px !important;
  position: absolute;
  top: 4%;
  left: 102%;
  color: #323232;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 2; }

.main-container {
  border-top: 5px solid #313131;
  margin: 0 auto; }

.top-container {
  width: 100%;
  height: 515px;
  overflow: hidden; }

.main-img2 {
  width: 100%;
  height: auto; }

.main-img {
  display: block;
  width: 100%;
  height: 100%;
  float: left; }

.main-img-holder {
  width: 49%;
  height: 100%;
  float: left; }

.shop-now {
  float: left;
  width: 51%;
  background: url(image/media/main-img2.jpg) no-repeat;
  position: relative; }

.title-box {
  position: absolute;
  top: 25%;
  left: 45%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px; }

.title-box p {
  display: block;
  font-family: GothamBoldRegular;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2.3px; }

.title-box span {
  display: block;
  font-family: GothamBoldRegular;
  color: #fff;
  font-size: 54px;
  margin-top: 11px;
  letter-spacing: 6.99px; }

.title-box a {
  display: block;
  font-family: GothamBoldRegular;
  font-size: 12px;
  color: #5cbbdb;
  width: 205px;
  height: 40px;
  background: #fff;
  text-decoration: none;
  line-height: 3;
  text-align: center;
  margin: 25px auto; }

.bottom-container {
  width: 1415px;
  height: 210px;
  margin: 10px auto; }

.box {
  width: 24.68%;
  height: 100%;
  margin-right: 6px;
  float: left;
  overflow: hidden; }

.box a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  text-decoration: none; }

.box h2 {
  font-family: GothamBoldRegular;
  display: block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px; }

.box p {
  font-family: Adelle-Light;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  color: #FFF;
  display: block; }

.jewellery {
  background: url(../images/media/box-1.jpg) no-repeat;
  background-size: 100%; }

.news {
  background: url(../images/media/box-2.jpg) no-repeat; }

.leatest {
  background: url(../images/media/box-3.jpg) no-repeat; }

.newsletter-box {
  background: url(../images/media/newsletter.jpg) no-repeat; }

.newsletter-box span {
  font-family: GothamBoldRegular;
  display: block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px; }

.box:last-child {
  margin-right: 0px; }

.form-subscribe-header {
  font-family: Adelle-Light;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  color: #FFF; }

.actions span {
  display: block;
  width: 100%;
  height: 100%;
  background: #333333;
  font-family: GothamBoldRegular;
  font-size: 9px;
  color: #f6f6f6;
  border: medium none;
  margin-top: 0px;
  line-height: 2;
  padding-top: 2px;
  cursor: pointer; }

.input-box {
  width: 135px;
  float: left;
  height: 25px;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 10px; }

.actions {
  width: 70px;
  height: 25px;
  float: left;
  margin-top: 22px; }

.actions .button {
  width: 100%;
  height: 100%; }

.input-box input[type="text"] {
  border: medium none;
  outline: medium none;
  float: left;
  margin-right: 8px;
  height: 25px;
  width: 135px;
  margin-top: 5px; }

@font-face {
  font-family: Adelle-Light;
  src: url(../fonts/Adelle-Light/Adelle-Light.ttf); }
.about-us {
  height: 550px; }

.about-us h3 {
  font-family: GothamBoldRegular;
  font-size: 24.5px;
  color: #313131;
  text-transform: uppercase;
  display: block;
  margin-top: 60px; }

.img-about-holder {
  width: 25%;
  float: left;
  margin-right: 40px;
  margin-top: 50px; }

.img-about-holder img {
  width: 100%;
  height: auto; }

.about-us h4 {
  font-family: GothamBoldRegular;
  color: #313131;
  margin-top: 50px;
  display: block;
  font-size: 20px; }

.about-holder {
  width: 71%;
  float: left;
  height: 100%; }

.about-holder p {
  display: block;
  margin-top: 40px;
  font-family: Adelle-Light;
  color: #313131;
  font-size: 16px;
  font-weight: 600; }

.about-holder img {
  display: block;
  margin-top: 50px; }

@font-face {
  font-family: AdelleRegular;
  src: url(../fonts/AdelleRegular/AdelleRegular.ttf); }
@font-face {
  font-family: Gotham-Medium-Regular;
  src: url(../fonts/Gotham-Medium-Regular/Gotham-Medium-Regular.ttf); }
.in-news {
  width: 990px;
  max-width: 990px;
  margin: 0 auto;
  height: auto;
  border: 1px solid #dfdfdf;
  margin-top: 60px;
  overflow: hidden; }

.in-news h3 {
  font-family: Gotham-Medium-Regular;
  font-size: 25px;
  color: #313131;
  text-transform: uppercase;
  display: block;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 50px; }

.left-news-imgs {
  width: 65%;
  float: left;
  height: 100%;
  margin-left: 2.5%; }

.left-news-imgs img {
  display: block;
  float: right;
  margin-right: 30px;
  margin-bottom: 30px; }

.right-news-imgs {
  float: left;
  width: 24%;
  height: 100%; }

.right-news-imgs h4:first-child {
  margin-bottom: 30px; }

.margin-top {
  margin-top: 30px; }

.right-news-imgs h4 {
  font-family: Gotham-Medium-Regular;
  font-size: 16px;
  color: #313131;
  font-weight: 100; }

.right-news-imgs p {
  font-family: AdelleRegular;
  font-size: 14px;
  color: #313131;
  display: block;
  margin-top: 30px;
  font-weight: 100; }

.blog-single {
  width: 980px;
  height: auto;
  overflow: hidden;
  margin: 63px auto 0; }

.blog-single h3 {
  font-family: GothamBoldRegular;
  font-size: 42px;
  color: #313131;
  display: block;
  float: left; }

.header-slog {
  width: 100%;
  height: 45px; }

.blog-single h4 {
  font-family: GothamBoldRegular;
  font-size: 25px;
  color: #313131;
  display: block;
  margin-top: 15px;
  margin-left: 15px;
  color: #7d7d7d;
  float: left; }

.main-info {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  border-top: 8px solid #313131 !important;
  border: 1px solid #dfdfdf;
  overflow: hidden; }

.top {
  margin: 25px auto 0;
  width: 885px;
  height: 100%; }

.top-inner {
  width: 100%;
  height: auto; }

.img-holder {
  width: 357px;
  height: auto;
  float: left;
  margin-right: 40px; }

.img-holder img {
  display: block;
  width: 100%;
  height: auto; }

.blog-words h2 {
  font-family: GothamBoldRegular;
  color: #313131;
  font-size: 34px;
  display: block;
  float: left; }

.blog-words {
  width: 36%;
  height: 183px;
  margin-top: 175px;
  float: left; }

.blog-words span {
  display: block;
  font-size: 19px;
  font-family: AdelleRegular;
  color: #707070;
  margin-top: 13px;
  float: left;
  width: 100%; }

.a-links {
  width: auto;
  height: 30px;
  margin-top: 30px;
  float: left; }

.blog-words p {
  display: block;
  float: left;
  color: #a9a9a9;
  font-family: AdelleRegular;
  font-size: 15px;
  margin-right: 5px; }

.blog-words a {
  display: block;
  float: left;
  color: #71c5c6;
  font-family: AdelleRegular;
  font-size: 15px;
  text-decoration: none; }

.blog-text {
  float: left;
  width: 880px;
  margin: 40px auto 0; }

.blog-text p {
  font-family: AdelleRegular;
  color: #707070;
  font-size: 16px;
  display: block;
  width: 43%;
  margin-right: 40px;
  float: left; }

.blog-text p:last-child {
  margin-right: 0px; }

.nav-container {
  display: none; }

.page-title {
  display: none; }

.category-description {
  color: #313131;
  font-family: GothamBoldRegular;
  font-size: 42px;
  margin-top: 125px; }

.category-description span {
  font-family: GothamBoldRegular;
  color: #7d7d7d;
  font-size: 25px; }

.products-grid li {
  display: block;
  float: left;
  width: 320px;
  height: 350px; }

* {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  max-width: 1415px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%; }

a:hover {
  opacity: 0.5; }

/*# sourceMappingURL=styles.css.map */
