@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "layout/_home-page.scss";
@import "layout/_about-us.scss";
@import "layout/_in-news.scss";
@import "layout/_blog-single.scss";
@import "layout/_product-category.scss";

*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  max-width: 1415px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}
a:hover{
  opacity: 0.5;
}
