<div class="blog-single">
    <div class="header-slog">
        <h3>THE LATEST:</h3>
        <h4>NEWS, TRENDS &amp; STYLE TIPS</h4>
    </div>
    <div class="main-info">
        <div class="top">
            <div class="top-inner">
                <div class="img-holder">
                    <img src="<?php echo $this->getSkinUrl('images/media/blog-img.jpg') ?>" alt="blog">
                </div>
                <div class="blog-words">
                    <h2>ISWAI FESTIVAL FASHION</h2>
                    <span>Posted on July 23, 2012 by Francine</span>
                    <div class="a-links">
                        <p>Tagged</p>
                        <a href="#">Denim, </a><a href="#"> Fashion, </a><a href="#">Festiva, </a><a href="#">ISWA, </a><a href="#">T-Shirts </a>
                    </div>
                </div>
                <div class="blog-text">
                    <p>There’s no doubt that your ISWAI tees are far more at home in a muddy field than they ever would be on the runways, which is great news for all you music lovers as the festival season has well and truly hit. Ever since Kate Moss made dressing for festivals a bit of a thing, ripped denim shorts & wellington boots became key festival pieces. Not only are these two festival staples perfect for pairing with your Five-Ways t-shirts, but our ISWAI logo vests will leave you looking bohemian festival cool when teamed with tie-dye denim or a tribal rucksack.</p>
                    <p>From headbands to hunter boots, accessories are key when having some fun with fashion and adding points of difference to those basic festival staples. Festival weather can often be dreary, but you can brighten up any outfit with bold accessories or by experimenting with mix and match layers. ISWAI style notes: Sling your ISWAI top over a vintage floral tea dress underneath an oversized studded denim jacket for a relaxed layered style or let your ISWAI ear cuff clash with the prettiness of a floral headband and a girly pastel playsuit.

                        Let the music, the mud and the good times roll!
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>